# Node modules and logs
node_modules/
frontend/node_modules/
npm-debug.log
logs/

# Environment files
.env
.env.test
frontend/.env

# Build and cache
dist/
.cache/
.tmp/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage reports (comentado para permitir subirlo en esta ocasión)
# coverage/

# Local configs
*.local
